<!DOCTYPE html>
<html lang="en">

<head>
  <title>Daily Zen</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--  Social Media META Tags -->
  <meta property="og:title" content="Zen App">
  <meta property="og:description" content="An inspiring bullet journal for the digital age. Zen app is a password protected web-app that gives users space to reflect on a new inspiring quote-image pairing every day.">
  <meta property="og:image" content="https://mighty-gorge-04831.herokuapp.com/assets/images/social-media-tag-image.png">
  <meta property="og:url" content="https://mighty-gorge-04831.herokuapp.com/">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="Zen App">
  <meta name="twitter:image:alt" content='Screenshot of the Zen App main page. The page has a mountain landscape in the background, with the following quote: "Successful people appear to be traveling along one continual, successful road. What is not apparent is the perseverance it takes following each defeat to keep you on that road. No one I know of has ever experienced one success after another without defeat." by G. Kingsley Ward.'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="./assets/css/styleMain.css" rel="stylesheet">
</head>

  {{{body}}}

</html>